extends /index.pug
block content
  - let profielInfo = profielInfoVanDeBackendInProgress
  if !profielInfo
    .nogGeenFilters
      p Je hebt nog geen filters ingesteld. Klik op de knop hieronder om daar aan te beginnen
      a(href="/profiel/filteren").defaultButton start met filteren
  else
    .profiel
      a(href="/profiel").defaultButton Filters aanpassen

      h3 Jouw game
      p= profielInfo.game

      h3 Jouw username
      p= profielInfo.name

      h3 Ranked of casual
      if Array.isArray(profielInfo.rankedOfCasual)
        ul
          each rankedOfCasual in profielInfo.rankedOfCasual
            li= rankedOfCasual
      else if profielInfo.rankedOfCasual
        p= profielInfo.rankedOfCasual
      else
        p Geen voorkeur

      h3 Rank/rating bewijs
      if rankProof
        img(src=`/uploads/${rankProof.filename}`)
      else 
        p Geen bewijs van rank

      h3 Mode/modes
      if Array.isArray(profielInfo.mode)
        ul
          each mode in profielInfo.mode
            li= mode
      else if profielInfo.mode
        p= profielInfo.mode
      else
        p Geen voorkeur
  
block styles
  include profiel.css



