if !filterStap && !profielInfo
  a(href="/filteren") start met filteren
else if filterStap === 'KiesSpel'
  include KiesSpel/KiesSpel.pug
else if filterStap !== 'KiesSpel' && filterStap
  include Filteren/Filteren.pug
else 
  div.profiel
    a(href="/filteren") Filters aanpassen

    h3 Jouw game
    p= profielInfo.game
    h3 Jouw username
    p= profielInfo.name
    h3 Ranked of casual
    if profielInfo.rankedOfCasual
      p= profielInfo.rankedOfCasual
    else
      p Geen voorkeur
    h3 Rank/rating bewijs
    if foto
      img(src=`/uploads/${foto.filename}`)
    else 
      p Geen bewijs van rank
    h3 Mode
    if profielInfo.mode
      p= profielInfo.mode
    else
      p Geen voorkeur

style 
  include profiel.css


