extends /index.pug
block content
  if filterInfo
    - let filterInfo = FilterInfo
  if !filterInfo
    .nogGeenFilters
      p Je hebt nog geen filters ingesteld. Klik op de knop hieronder om daar aan te beginnen
      a(href="/profiel/filteren").defaultButton start met filteren
  else
    div.profiel
      a(href="/profiel/filteren").defaultButton Filters aanpassen
      h2 Jouw filters
      h4 Game
      p= filterInfo.game
      h5 Rank voorkeur
      if Array.isArray(filterInfo.rankedOfCasual) || !filterInfo.rankedOfCasual
        p Ranked
        p Casual
      else
        p= filterInfo.rankedOfCasual

      h5 Mode
      if Array.isArray(filterInfo.mode) || !filterInfo.mode
        if !filterInfo.mode || filterInfo.game === "Apex Legends" || filterInfo.game === "Modern Warfare" || filterInfo.game === "Rocket League" && filterInfo.mode.length === 3 || filterInfo.game === "Chess" && filterInfo.mode.length === 4
          p Geen voorkeur
        else
          each modeFilter in filterInfo.mode
            p= modeFilter
      else
        p= filterInfo.mode

      h5 Rank
      if !filterInfo.rankedOfCasual || filterInfo.rankedOfCasual === "Ranked" || filterInfo.rankedOfCasual[1] === "Ranked"
        if filterInfo.rank
          p= filterInfo.rank
        else 
          p ?
      else 
        p N/A




