extends /index.pug
block content
  - let users = [{name: "daltoosh", game: "Apex Legends", rankedOfCasual: "Ranked", mode: "Arena", rank:600}, {name: "snipedown", game: "Apex Legends", rankedOfCasual: "Ranked", mode: ["Arena", "Battle Royale"], rank:900}, {name: "daanzh", game: "Rocket League", rankedOfCasual: "Ranked", mode: "1v1", rank:250}, {name: "stormvv", game: "Rocket League", rankedOfCasual: ["Casual", "Ranked"], mode: ["1v1", "2v2", "3v3"], rank: 350}, {name: "creeper", game: "Rocket League", rankedOfCasual: "Casual", mode: ["1v1", "3v3"]}, {name: "jorisdtv", game: "Modern Warfare", rankedOfCasual: ["Casual", "Ranked"]}, {name: "tvdh18", game: "Modern Warfare", rankedOfCasual: "Casual", mode: ["Battle Royale", "Standard"]}, {name: "noalooks", game: "Chess"}, {name: "lenq123", game: "Chess", rankedOfCasual: ["Casual", "Ranked"], mode: "1min", rank: 1000}, {name: "timotje", game: "Chess", rank: 700},]

  - let filter = filterInfo

  - let rankedOfCasualMatched = false

  - let rankMatched = false

  - let modeMatched = false

  - let filteredUsers = []

  - let index = 0
  if filter
    each user in users
      if !filter.rankedOfCasual || !user.rankedOfCasual
        - rankedOfCasualMatched = true
      else if Array.isArray(filter.rankedOfCasual)
        each rankedOfCasualFilter in filter.rankedOfCasual
          if user.rankedOfCasual.includes(rankedOfCasualFilter)
            - rankedOfCasualMatched = true
      else 
        if user.rankedOfCasual.includes(filter.rankedOfCasual)
          - rankedOfCasualMatched = true


      if !filter.rank || !user.rank
        - rankMatched = true
      else if user.rank + 100 > +filter.rank && user.rank - 100 < +filter.rank
        - rankMatched = true

      if !filter.mode || !user.mode
        - modeMatched = true
      else if Array.isArray(filter.mode)
        each modeFilter in filter.mode
          if user.mode.includes(modeFilter)
            - modeMatched = true
      else 
        if user.mode.includes(filter.mode)
          - modeMatched = true

      if user.game === filter.game && rankedOfCasualMatched && modeMatched && rankMatched
        - filteredUsers.push(user)
      - rankedOfCasualMatched = false
      - modeMatched = false
      - rankMatched = false
  else 
    - filteredUsers = users
      .nogGeenFilters
        p Je hebt nog geen filters ingesteld. Klik op de knop hieronder om daar aan te beginnen
        a(href="/profiel/filteren").defaultButton start met filteren


  if filteredUsers.length !== 0
    .users
      each filteredUser in filteredUsers
        div.user
          h3= filteredUser.name

          h4= filteredUser.game
          div.paddingDiv
            h5 Rank voorkeur
            if Array.isArray(filteredUser.rankedOfCasual) || !filteredUser.rankedOfCasual
              p Ranked
              p Casual
            else if filteredUser.rankedOfCasual
              p= filteredUser.rankedOfCasual

          div.paddingDiv
            h5 Mode
            if Array.isArray(filteredUser.mode) || !filteredUser.mode
              if !filteredUser.mode || (filteredUser.game === "Apex Legends") || (filteredUser.game === "Modern Warfare") || (filteredUser.game === "Rocket League" && filteredUser.mode.length === 3) || (filteredUser.game === "Chess" && filteredUser.mode.length === 4)
                p Geen voorkeur
              else
                each modeFilter in filteredUser.mode
                  p= modeFilter
            else if filteredUser.mode
              p= filteredUser.mode


          div.paddingDiv 
            h5 Rank
            if filteredUser.rankedOfCasual
              if filteredUser.rankedOfCasual === "Ranked" || filteredUser.rankedOfCasual[1] === "Ranked"
                if filteredUser.rank
                  p= filteredUser.rank
                else 
                  p ?
              else 
                p N/A
            else 
              if filteredUser.rank
                p= filteredUser.rank
              else 
                p ?
          div.linkDiv
            a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").defaultButton bericht
  else
    .nogGeenFilters
      p Er zijn helaas geen resultaten voor deze filters. Klik op de knop om het opnieuw te proberen
      a(href="/profiel/filteren").defaultButton Opnieuw filteren


block styles
  include zoeken.css